html, body {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

table {}
table tr {height: 25px;}
table tr:first-child {
    font-weight: 600;
    height: 40px;
}
table tr:first-child td{
    border-bottom: 1px solid #ccc;
}